@font-face {
    font-family: 'League Spartan';
    src: url('fonts/LeagueSpartan-Bold.otf');
    src: local('Riesling Regular'), local('Riesling'), url('fonts/riesling.ttf') format('truetype');
}

html {
    background: #001727;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}
body > * {
    position: absolute;
}
body > .box {
    min-width: 197px;
    height: 197px;
    cursor: pointer;
}

.box {
    cursor: grab;
}
.box:hover + .letters{
    transform: scale(.7);
    transition: all .2s ease-in-out;        
    color: #001727;
    /*cursor: pointer;*/
}
._0x0 {
    background-image: url("0x0_hover.png");
    background-repeat: no-repeat;
    left: 33px;
    top: 30px;
    width: 200px;
    height: 200px;
    z-index: 8;
}
 ._0x0:hover {
    transform: scale(1.02);
 }
 a {
    background-image: url("github.png");
    left: 40px;
    top: 147px;
    width: 111px;
    height: 28px;
    z-index: 56;
    border: none;
}
._0x1 {
    background-image: url("0x1_hover.png");
    left: 278px;
    top: 78px;
    width: 40px;
    height: 46px;
    z-index: 5;
}
.A_Z__ {
    background-image: url("A-Z.png");
    background-repeat: no-repeat;
    left: 2px;
    top: 86px;
    width: 396px;
    height: 111px;
    z-index: 3;
}
.letters {
    font-family: "League Spartan";
    font-size: 72vw;
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
    .letters:hover {
        transform: scale(.7);
        transition: all .2s ease-in-out;        
        color: #001727;
    }
#A {
    left: 466.5px;
    top: 60px;
    width: 61px;
    height: 59px;
    z-index: 1;

    color: #dab407;
}
.boxA{
    background: rgb(177, 199, 210);
    left: 394px;
    top: 0px;
    z-index: 0;
}
    .boxA:hover {
        background-image: url("A.png");
    }
/*    .boxA:hover + #A {
        background-image: url("A.png");
    }*/
#B {
    left: 667.8px;
    top: 60px;
    width: 43px;
    height: 59px;
    z-index: 1;
}
.boxB { 
    background: rgb(204,88,58);
    left: 586px;
    top: 0px;
    z-index: 0;
}
    .boxB:hover {
            background-image: url("B.png");
        }
#C {
    left: 852.8px;
    top: 60px;
    width: 52px;
    height: 61px;
    z-index: 1;
    color: #dab407;
}
.boxC {
    background-color: rgb(26, 179, 165);
    left: 780px;
    top: 0px;
    z-index: 0;
}
    .boxC:hover {
            background-image: url("C.png");
        }
#D {
    left: 1051.3px;
    top: 60px;
    width: 48px;
    height: 59px;
    z-index: 1;
}
.boxD {
    background-color: rgb(185, 203, 209);
    left: 976px;
    top: 0px;
    z-index: 0;
}
    .boxD:hover {
            background-image: url("D.png");
        }
#E {
    left: 1252.6px;
    top: 60px;
    width: 35px;
    height: 59px;
    z-index: 1;
}
.boxE {
    background-color: rgb(255, 137, 123);
    left: 1170px;
    top: 0px;
    z-index: 0;
}
    .boxE:hover {
        background-image: url("E.png");
    }
#F {
    left: 85.4px;
    top: 258.3px;
    width: 47px;
    height: 59px;
    z-index: 1;
}
.boxF {
    background-color: rgb(33, 76, 78);
    left: 0px;
    top: 197px;
    z-index: 0;
}
    .boxF:hover {
            background-image: url("F.png");
        }
#G {
    left: 266.0px;
    top: 258.3px;
    width: 47px;
    height: 59px;
    z-index: 1;
}
.boxG {
    background-color: rgb(108, 134, 69);
    left: 197px;
    top: 197px;
    z-index: 0;
}
    .boxG:hover {
        background-image: url("G.png");
    }
#H {
    left: 471.5px;
    top: 255.3px;
    width: 47px;
    height: 59px;
    z-index: 1;
}
.boxH {
    background-color: rgb(154, 159, 68);
    left: 394px;
    top: 197px;
    z-index: 0;
}
    .boxH:hover {
        background-image: url("H.png");
    }
#I {
    left: 668.0px;
    top: 258.3px;
    width: 47px;
    height: 59px;
    z-index: 1;
}
.boxI {
    background-color: rgb(148, 128, 70);
    left: 586px;
    top: 197px;
    z-index: 0;
}
    .boxI:hover {
        background-image: url("I.png");
    }
#J {
    left: 859.5px;
    top: 258.3px;
    width: 47px;
    height: 59px;
    z-index: 1;
    color: #dab407;
}
.boxJ {
    background-color: rgb(253, 203, 117);
    left: 780px;
    top: 197px;
    z-index: 0;   
}
    .boxJ:hover {
            background-image: url("J.png");
        }
#K {
    left: 1052.5px;
    top: 258.3px;
    width: 47px;
    height: 59px;
    z-index: 1;
}
.boxK {
    background-color: rgb(16, 43, 62);
    left: 976px;
    top: 197px;
    z-index: 0;
}
    .boxK:hover {
            background-image: url("K.png");
        }
#L {
    left: 1252.9px;
    top: 258.3px;
    width: 47px;
    height: 59px;
    z-index: 1;
}
.boxL {
    background-color: rgb(116, 31, 36);
    left: 1170px;
    top: 197px;
    z-index: 0;
}
    .boxL:hover {
        background-image: url("L.png");
    }
#M {
    left: 68.1px;
    top: 455px;
    width: 47px;
    height: 59px;
    z-index: 15;
}
.boxM {
    background-color: rgb(191, 77, 47);
    left: 0px;
    top: 394px;
    z-index: 0;
}
    .boxM:hover {
        background-image: url("M.png");
    }
#N {
    left: 270.3px;
    top: 455px;
    width: 47px;
    height: 59px;
    z-index: 15;
    color: #dab407;
}
.boxN {
    background-color: rgb(140, 177, 177);
    left: 197px;
    top: 394px;
    z-index: 0;
}
    .boxN:hover {
        background-image: url("N.png");
    }
#O {
    left: 465.9px;
    top: 455px;
    width: 47px;
    height: 59px;
    z-index: 15;
}
.boxO {
    background-color: rgb(1, 178, 173);
    left: 394px;
    top: 394px;
    z-index: 0;
}
    .boxO:hover {
        background-image: url("O.png");
    }
#P {
    left: 666.6px;
    top: 455px;
    width: 47px;
    height: 59px;
    z-index: 15;
    color: #dab407;
}
.boxP {
    background-color: rgb(188, 199, 148);
    left: 586px;
    top: 394px;
    z-index: 0;
}
    .boxP:hover {
        background-image: url("P.png");
    }   
#Q {
    left: 849.1px;
    top: 455px;
    width: 47px;
    height: 59px;
    z-index: 15;
}
.boxQ {
    background-color: rgb(26, 184, 175);
    left: 780px;
    top: 394px;
    z-index: 0;
}
    .boxQ:hover {
        background-image: url("Q.png");
    }
#R {
    left: 1053.5px;
    top: 455px;
    width: 47px;
    height: 59px;
    z-index: 15;
}
.boxR {
    background-color: rgb(206, 91, 55);
    left: 976px;
    top: 394px;
    z-index: 0;
}
    .boxR:hover {
        background-image: url("R.png");
    }
#S {
    left: 1246.4px;
    top: 455px;
    width: 47px;
    height: 59px;
    z-index: 15;
}
.boxS {
    background-color: rgb(121, 68, 42);
    left: 1170px;
    top: 394px;
    z-index: 0;
}
    .boxS:hover {
        background-image: url("S.png");
    }
#T {
    left: 79.0px;
    top: 655.2px;
    width: 47px;
    height: 59px;
    z-index: 15;
    margin-bottom: 60px;
}
.boxT {
    background-color: rgb(35, 44, 45);
    left: 0px;
    top: 591px;
    z-index: 0;
}
    .boxT:hover {
        background-image: url("T.png");
    }
#U {
    left: 270.7px;
    top: 655.2px;
    width: 47px;
    height: 59px;
    z-index: 15;
    margin-bottom: 60px;
}
.boxU {
    background-color: rgb(242, 141, 174);
    left: 197px;
    top: 591px;
    z-index: 0;
}
    .boxU:hover {
        background-image: url("U.png");
    }
#V {
    left: 465.9px;
    top: 655.2px;
    width: 47px;
    height: 59px;
    z-index: 15;
    margin-bottom: 60px;
}
.boxV {
    background-color: rgb(43, 34, 36);
    left: 394px;
    top: 591px;
    z-index: 0;
}
    .boxV:hover {
        background-image: url("V.png");
    }
#W {
    left: 645.2px;
    top: 655.2px;
    width: 47px;
    height: 59px;
    z-index: 15;
    margin-bottom: 60px;
}
.boxW {
    background-color: rgb(236, 177, 196);
    left: 586px;
    top: 591px;
    z-index: 0;
}
    .boxW:hover {
        background-image: url("W.png");
    }
#X {
    left: 847.1px;
    top: 655.2px;
    width: 47px;
    height: 59px;
    z-index: 15;
    margin-bottom: 60px;
}
.boxX {
    background-color: rgb(177, 199, 210);
    left: 780px;
    top: 591px;
    z-index: 0;
}
    .boxX:hover {
        background-image: url("X.png");
    }
#Y {
    left: 1045.6px;
    top: 655.2px;
    width: 47px;
    height: 59px;
    z-index: 15;
    margin-bottom: 60px;
}
.boxY {
    background-color: rgb(132, 148, 175);
    left: 976px;
    top: 591px;
    z-index: 0;
}
    .boxY:hover {
        background-image: url("Y.png");
    }
#Z {
    left: 1240.8px;
    top: 655.2px;
    width: 47px;
    height: 59px;
    z-index: 15;
    margin-bottom: 60px;
}
.boxZ {
    background-color: rgb(234, 237, 158);
    left: 1170px;
    top: 591px;
    z-index: 0;
}
    .boxZ:hover {
        background-image: url("Z.png");
    }

